<div class="container-fluid">

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">

        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="navbar-brand" href="#">Mongoose Scraper</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="#">Home</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="#">Saved Articles</a>
            {{!--
            <form class="form-inline">
                <button type="button" class="btn btn-success">Test</button>
            </form> --}}
            <form class="form-inline">
                <button class="btn btn-outline-success" type="button">Scrape Some Articles!</button>
            </form>
        </nav>
    </nav>
    <br>
    <img src="/assets/images/wave.jpg" class="img-fluid" alt="Music Article image">

    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Scrape Completed!</h1>
    <p class="lead">Clicked the Saved Articles to display!</p>
  </div>
</div>

</div>