<div class="container-fluid">

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">

        <nav class="nav nav-pills flex-column flex-sm-row">
            {{!-- <a class="navbar-brand" href="#">Mongoose Scraper - Brooklyn Vegan Edition</a> --}}
            <h1>Mongoose Scraper - Brooklyn Vegan Edition</h1>
            <h3>Select an article to open the comment box at the bottom of the page!</h3>
            <h3>Click an article again to view your comment!</h3>
            {{!-- <form class="form-inline">
                <button class="btn btn-outline-success" type="button">Scrape Some Articles!</button>
            </form> --}}
        </nav>
    </nav>
    <br>
    <img src="/assets/images/wave.jpg" class="img-fluid" alt="Music Article image">
    <br>
    <br>
    <div class="articleList">
        <div id="articles"></div>
        <div id="notes"></div>
    </div>

</div>