<div class="container-fluid">

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">

        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="navbar-brand" href="#"> &lt; Mongoose Scraper &gt;</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="#">Home</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="#">Saved Articles</a>
            {{!-- <form class="form-inline">
                <button type="button" class="btn btn-success">Test</button>
            </form> --}}
            <form class="form-inline">
                <button class="btn btn-outline-success" type="button">Scrape Some Articles!</button>
            </form>
        </nav>
    </nav>

    <img src="..." class="img-fluid" alt="Music Article image">

    <div class="articleList"></div>

</div>